<div class="contact-background">
	<%= image_tag "contactcover.jpg", class: "contact-img"%>
	<div class="pin-content">
		<span style="position: relative; top: -345px;"><h1>Appelez-nous Aujourd'hui.</h1></span>
		<%= image_tag "pin.png", class: "pin-img" %>
	</div>

	<div class="contact-info-background">
		<div class="contact-info">
			<h1>Téléphone:</h1><h3>3718-0889 / 4331-4068 / 3762-5120 / int’l (305)-517-5939</h3><br>
			<h1>Adresse Officielle:</h1><h3>1, Rue Valmé, Delmas 31, Port-au-Prince, Haïti</h3><br>
			<h1>Email:</h1><h3>gelaconstruction@yahoo.fr</h3>
		</div>
	</div><!-- contact info ends -->
	<br><br>
</div><!-- Contact Background ends -->
<div class="curve-content">
	<div class="curve-about"></div>
</div>