@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200);

/* Cross browser compatibility */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }

/* Improved Link styling */

a {

	text-decoration: none;
	color: #08C;
	transition: all 0.3s ease-out;
	padding: .5em;
	margin: -.5em;
}

a:hover {
	background-color: transparent;
	text-decoration: none;
}

/* CSS snippet tools */

.center { text-align: center;}

.right { text-align: right;}

.left { text-align: left;}

.float-left {	float: left;}

.float-right {	float: right;}

.bold { font-weight: bold;}

.clear:before, 
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Temporary */

body {
	background-color: #DFD9D9;
}

/* Navbar */

.navbar-background {
	background-color: white;
	height: 145px;
	border-bottom-right-radius: 48%;
	border-bottom-left-radius: 48%;
	width: 120%;
	margin-left: -10.5%;
	position: fixed;
	box-shadow: 1px 1px 2px #86878B;
	z-index: 1;
	padding: 0;
	outline: 1px solid transparent;
}

.navbar-logo {
	width: 100%;
	margin-top: 25px;
	text-align: center;
	position: fixed; 
	padding: 15px;
	z-index: 2;
}

.navbar-logo p {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 40px;
	letter-spacing: 3px;
	color: #0E83CD;

}

.navbar-content-box {
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 5;
}

.navbar-links-left {
	width: 45%;
	float: left;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 15px;
	margin-top: 43px;
}

.navbar-links-left a {
	color: #827D7D;
	padding: 10px;
	margin: 10px;
	font-size: 14px;
}

.navbar-links-left a:hover {
	color: #323131 !important;
	text-decoration: none;
}

.navbar-links-right {
	width: 44%;
	float: right;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 15px;
	margin-top: 43px;
}

.navbar-links-right a {
	color: #827D7D;
	padding: 10px;
	margin: 10px;
	font-size: 14px;
}

.navbar-links-right a:hover {
	color: #323131 !important;
	text-decoration: none;
}

/* Homepage Carousel */
.carousel-home {
	margin: 0;
	position: relative;
	z-index: 0;
}

.carousel-inner .item img {
	margin-top: -160px;
	width: 100%;
	height: auto;
	opacity: 0.9;
	position: relative;
	z-index: -1;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  margin-top: 9%;
}

.carousel-caption p{
	font-size: 16px;

}

.carousel-caption h1 {
	font-size: 45px;
	text-shadow: 1px 1px 2px #515050;
}

/* Homepage Intro */

.homepage-intro-background {
	background: white;
	width: 100%;
}

.homepage-intro-content {
	width: 78%;
	margin: auto;
}

.homepage-intro-content p {
	color: #323232;
	font-size: 25px;
	text-align: justify;
}

/* Homepage Read more Link */

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 0px;
	outline: none;
	color: #626364;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.5em;
	z-index: 0;
}

nav a:hover,
nav a:focus {
	outline: none;
	color: #323232;
}

.cl-effect-8 a {
	padding: 10px 20px;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #2ECC71;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #21418A;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

/* Homepage Projects */

.homepage-projects-background {
	width: 100%;
	background-color: #21418A;
	position: relative;
	z-index: 0;
}

.homepage-projects-content {
	width: 78%;
	margin: auto;
}

.homepage-projects-content h1 {
	font-size: 40px;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}

.expertise-content {
	width: 100%;
}

.expertise {
	color: #D0D1D4;
	display: inline;
	padding: 5px;
	margin: 2.5%;
	float: left; 
	width: 20%;
}

.expertise h4 {
	color: #F19F0F;
	letter-spacing: 2px;
}

/* View Projects Button */

.viewmore {
	width: 78%;
	margin: auto;
	text-align: center;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
}

.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #21418A;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}

/* Footer */

.curve-content {
	width: 100%;
	overflow: hidden;
	height: 100px;
}
.curve {
	background-color: #21418A;
	border-bottom-right-radius: 65%;
	border-bottom-left-radius: 65%;
	box-shadow: 1px 2px 1px white;
	height: 80px;
	width: 120%;
	margin-left: -10.5%;
	position: relative;
	z-index: 1;
}

.curve-about {
	background-color: white;
	border-bottom-right-radius: 65%;
	border-bottom-left-radius: 65%;
	box-shadow: 1px 2px 1px white;
	height: 80px;
	width: 120%;
	margin-left: -10.5%;
	position: relative;
	z-index: 1;
}

.footer-background {
	background-color: #222222;
	margin-top: -50px;
	position: relative;
	z-index: 0;
}

.footer-background p {
	font-size: 12px;
	color: #BEBFC4;
	letter-spacing: 1px;
}

.hk {
	font-size: 10px !important;
	letter-spacing: 1px;
	color: #828284 !important;
	text-align: center;
}

/* About Page */

.about-background {
	background-color: white;
	padding-top: 50px;
	width: 100%;
}

.cover {
	width: 100%;
	height: auto;
	position: relative; 
	z-index: 0;
	opacity: 0.88;
}

.cover-headings {
	width: 78%;
	margin: auto;
	text-align: center;
}

.cover-headings p {
	font-size: 55px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin-top: -200px;
	margin-left: 2%;
	text-shadow: 1px 1px 1px #D7D9DF;
	z-index: 0;
	padding: 0;
	background-color: transparent;
	color: white;
}

.history-content {
	width: 78%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
}

.history-content h1 {
	font-size: 45px;
	color: #393A3B;
	letter-spacing: 2px;
	padding: 20px 0px;
	margin: 10px 0px;
}

.history-content p {
	text-align: justify;
	color: #7C7D81;
}

.founder-portrait-content img {
	width: 165px;
	height: auto;
}

.founder-portrait-content {
	width: 100%;
	text-align: center;
	display: inline;
}

.genois h3 {
	letter-spacing: 1px;
}

.genois h5 {
	color: #AFB1B5;
	font-weight: normal;
	letter-spacing: 2px;
}

.larrate h3 {
	letter-spacing: 1px;
}

.larrate h5 {
	color: #AFB1B5;
	font-weight: normal;
	letter-spacing: 2px;
}

.genois {
	padding: 25px;
	width: 50%;
	text-align: center;
	float: left;
}

.genois p {
	color: #5F5F5F;
}

.genois ul {
	margin: 10px;
	padding: 10px;
	text-align: justify;
	color: #5F5F5F;
}

.larrate {
	padding: 25px;
	width: 50%;
	text-align: center;
	float: left;
}

.larrate p {
	color: #5F5F5F;
}

.larrate ul {
	margin: 10px;
	padding: 10px;
	text-align: justify;
	color: #5F5F5F
}

.staff-content {
	width: 100%;
	display: inline;
	text-align: center;
}

.staff-div h5 {
	font-size: 18px;
}

.staff-div {
	width: 25%;
	padding: 15px;
	margin: 0;
	text-align: center;
	float: left;
}

.staff-div p {
	text-align: center;
	font-size: 11px;
}

.staff-div img {
	width: 125px;
	opacity: 0.5;
}

.staff-div img:hover {
	opacity: 1;
}

/* Project Listing */

.projects-content {
	width: 100%;
	background-color: white;
	padding-top: 50px;
}

.projects-content img {
	width: 100%;
	height: auto;
}

.project-headings {
	width: 78%;
	margin: auto;
}

.project-headings p {
	font-size: 65px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	margin-top: -255px;
	text-shadow: 1px 1px 1px #D7D9DF;
	z-index: 0;
	padding: 0;
	background-color: transparent;
	color: white;
}

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.project-listing-header {
	width: 100%;
	margin: auto;
	text-align: center;
}

.project-listing-header h1 {
	font-size: 40px;
	color: #393A3B;
	letter-spacing: 2px;
	display: inline;
	margin: 0 15px;
	transition: all 0.2s ease-out;
}

.project-listing-header h1:hover {
	color: #818386;
}