<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Etude et Supervision du projet d'AEP de Saint-Marc</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Unité Centrale de Gestion (UCG)</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Conception du projet et Supervision des travaux d’AEP à Saint-Marc. (Canalisation de 6 à 12 pouces en F.D. réhabilitation source et réservoir, installation pompe submersible) | Juin 1998 – Juillet 1999.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction des commissariats Marbial, Grand Gosier et Belle Anse</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Police Nationale d'Haïti (PNH)</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de l’immeuble et ses annexes, aménagement cour et érection mur de clôture et construction de réservoirs. | Novembre 1999 - Juin 2000.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de deux réservoirs surélevés</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: UNICEF</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de deux réservoirs surélevés de 60m3 et Kiosques de vente d’eau dans les quartiers défavorisés de Fort mercredi et de Delmas 31. | Mai- septembre 2000.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Systéme AEP Acul du Nord</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: CECI-HAITI</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Réhabilitation du SAEP existant, fourniture et pose de 3000m de canalisation 2 à 6 pouces, pose de vannes, réhabilitation captage, forage et réservoir et construction de sept kiosques. | Aout 2001- Mars 2002.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction canaux d'irrigation Cyvadier/Jacmel</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: PLAN - HAITI</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de 2,500 mètre de canaux d'irrigation. | Juin - Décembre 2002. 
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Aménagement Hydro-Agricoles plaine Petit Goâves</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: PADF / PL 480</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: 250m3 de béton dalle couverture et 2,650ml de béton d’étanchéité canal d’irrigation. | Décembre 2002- Mai 2003.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction dispensaire des Orangers / Jacmel</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: PLAN-HAITI</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction d’un immeuble de 300m², de 150m de clôture, réservoir et aménagement cour. | Avril- Décembre 2003.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction canaux La Tremblay / Croix des Bouquets</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: PLAN-HAITI</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de 2,000 mètre de canaux maçonnés. | Juin - Octobre 2003. 
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Canaux Irrigation de Chansolme / Port-de-Paix</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Development Alternative Inc. (DAI) & USAID</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Réhabilitation canaux d’irrigation et station de pompage, clôture station, construction canaux supplémentaires. | Juin – Octobre 2005
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Extension du Système d'AEP des Gonaïves (de Pont Gaudin à centre Ville)</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: CARE / TSRP & USAID</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Fourniture et pose de 10,000m de canalisation et accessoires en FD et PVC SDR21 et SCH40. | Novembre 2005 - Novembre 2006. 
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de l'Ecole Professionnelle de PASCODES, à Nan Café, La Gonâve</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: World Vision</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction d'un bâtiment de 390m² environ avec de dalle couverture en béton. | Juillet 2006 - Mair 2007. 
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de l'Ecole Fondamentale et du Centre d'Appui Pédagogique (EFACAP) de Belle Anse</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: MENJS / PEB / BID</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction d’un bâtiment de 470m² avec dalle en B.A, réhabilitation de 4 bâtiments existants, aménagement de terrain de jeu, réservoir, fontaine, blocs sanitaires et clôture. | Octobre 2006- Juillet 2007.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction du Centre de Triage de Carrefour Feuilles</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: PNUD</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction d'un bâtiment de 550m², clôture en blocs, réservoir en béton. | Juillet - Novembre 2007.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction du Mini Complexe Administratif de Tamarin, la Gonâve.</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: World Vision</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction du rez-de-chaussée d’un bâtiment de 316m² avec dalle en béton armé. | Mai- Décembre 2007.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de Trois Bureaux de District Scolaire (BDS) à Camp Perrin. Coteaux et Corail.</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: MENJS / PEB / BID</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction d’un bâtiment de 320m² incluant clôture, réservoir et aménagements extérieurs. | Octobre 2007 – Juillet 2008.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Réhabilitation et extension du SAEP de Petit Bourg de Borgne</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Fonds d'assistance Economique et Sociale (FAES)</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Pose de 2,5km de canalisation 3 et 2 pouces galv. et PVC SCH40, 14 vannes, 40 branchements, construction d’un captage et d’un nouveau réservoir de 60m3, réhabilitation d’un captage et d’1 réservoir, construction de 4 kiosques et 3 blocs sanitaires. | Janvier  – Aout 2008.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de neuf (9) accueils Provisoires Port-au-Prince</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Fonds d'Assistance EConomique et Sociale (FAES)</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de neuf accueils provisoires dont cinq (5) au petit Séminaire Collège St-Martial et quatre (4) à l’école Jean XXIII. | Mars- Mai 2010.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Réhabilitation du périmètre irrigue de Grand Guillon (Saint-Marc)</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: CHF International</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction ouvrage de prise batardeaux en béton armé, 2,900ml de canaux en maçonnerie, mur de protection de berges en gabion et en maçonnerie de roches. | Mai-  Octobre 2010.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Réhabilitation et Extension du SAEP de la ville des Gonaïves</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Sous contractant de TECINA SA</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Pose de 36Kms de conduites PVC SDR26 de 2 @ 10 pouces, 107 vannes inclus bouches à clé et poses de 20 bouches d’incendies. Test de pression, rinçage et désinfection des canalisations. | Juillet 2009 à date (en cours).
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Travaux d'adoquinage des rules de Petit Trou de Nippes, PHASE 1</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: MTPTC</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de 1100 ml de route en adoquins incluant les caniveaux et cunettes de drainage. | (Mars – Sept 2010).
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de l'Ecole Nationale de Caïte à Cerca Cavajal, Hinche, Plateau Central.</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: World Vision International</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de sept (7) salles de classe de 50m² chacune avec structure de base en béton armé, Mur en blocs armés, Colonnes en béton armé et toit en Tôle avec charpente en bois et Construction d’un bloc sanitaire de 6 compartiments. | Octobre à décembre 2011.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de l'Ecole Pelerin de la Bible à Belote Léogane.</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Save the Children</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de quatre (4) salles de classe de 50m² chacune avec structure de base en béton armé, Mur à moitié blocs 20 armés et contreplaqués ¾ pouces et toit en Tôle avec charpente en bois. Construction d’un bloc sanitaire Hygiénique de 6 compartiments. | Octobre – décembre 2011.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de l'Ecole Cœurs Unis à Savane Grande et Réhabilitation de la clinique à Selpêtre, Maïssade.</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Save the Children</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de six (6) salles de classe de 50m² chacune avec structure de base en béton armé, Mur à moitié blocs 20 armés et contreplaqués ¾ pouces et toit en Tôle avec charpente en bois. Réhabilitation d’un dispensaire et Construction de 6 blocs sanitaires de 6 compartiments. | Décembre 2011 – Février 2012.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction kiosque de vente des fleurs, place st Pierre Pétion-ville</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Ministére du Tourisme</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de la structure de base de kiosque de vente, retouche et installation de l’ancienne structure métallique sur la nouvelle base construite, couverture en tuiles, peinture et décoration. | Travaux en cours.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Installation de podium équipé</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Ministère de la Justice et de la Sécurité Publique (MJSP)</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction et décoration de podiums présidentiel et officiel, installation de tentes pour invités et journalistes, système de sonorisation au local de l’Ecole de la Magistrature pour l’installation du CSPJ. | du 30 juin au 03 juillet 2012.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction d'un bâtiment à Ceverine, et Réhabilitation du SAEP à Bassin Cave, Maïssade</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: Save the Children</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: 1-	Construction d’un bâtiment de 200m² environ avec structure de base en béton et toit en tôle.
    <br>
    2-	Réhabilitation captage Bassin Cave, construction chambre de chloration et pose de 1,200m de canalisation 6’’ et 4’. | Juillet - Décembre 2012.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Travaux d'adoquinage et de Bétonnage des rues de Petit Trou de Nippes, PHASE 2</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: MTPTC</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de 2500 ml de route dont 1100 en béton et  1400ml en adoquins incluant les caniveaux et cunettes de drainage. | Janvier – Décembre 2013. Travaux en cours (90%)	
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Exécution des systèmes d’alimentation en eau potable des quartiers défavorisés de Morne Hercules et de Lazarre</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: UNOPS</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de six (6) kiosques de vente d’eau munis de compteur de 3/4" et de château d’eau de 3200 gals incluant les installations hydrauliques. Fourniture et pose de 2000 mètres de canalisation de 4 et 2 pouces. Réhabilitation de 3 kiosques existants. | Dec 2012 – Mai 2013.
		</p>
  </div>
</div>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Construction de l'Ecole St Philippe et St Jacques, à Collin, Gressier</h3>
  </div>
  <div class="panel-body">
    <p><span class="bold">Nom du client et du point de contact</span>: UNDP / FINN CHURCH AID (FCA)</p>
    <p><span class="bold">Type de travail exécuté et durée d'exécution</span>: Construction de 6 salles de classe totalisant 450 m² avec murs de contreventement  en béton armé, mur de séparation en blos de 30 x 20 x 40 cm et toit en tôles avec ossature en bois, un réfectoire de 45 m² et un bloc sanitaire moderne. | Mars – Décembre 2013.
		</p>
  </div>
</div>
<br><br>
<div class="center-page">
	<a target="#top"><h1 class="goback-projects" id="goback6">Voir Projets en Cour à Nouveau</h1></a>
</div>