<div class="footer-background">
	<br><br><br><br><br>
	<p class="center"><span style="font-weight: bold">Genois et Laratte | Construction</span> © 2014 All Rights Reserved.</p>
	<p class="center" style="font-size: 10px;">Delmas 31, Rue Valmé, Port-au-Prince, Haïti. (Tel) 246-0777</p>
	<p class="hk">Website Designed and Developed by HK Productions</p>
	<br><br>
</div><!-- Footer Background Ends -->