<div class="navbar-background"></div> <!-- White Navbar backdrop -->

<div class="navbar-logo">
	<p>G<span style="color:#444546">&</span><span style="color: #E11111;">L</span><span style="color: #444546;"> CONSTRUCTION</span></p>
</div><!-- Navbar Logo Ends -->

<div class="navbar-content-box">
	<div class="navbar-links-left">
		<%= link_to "Accueil", root_path %>
		<%= link_to "À Propos De Nous", about_path %>
	</div>
	<div class="navbar-links-right">
		<%= link_to "Projets", work_path %>
		<%= link_to "Contactez-Nous", contact_path %>
	</div>
</div>
